
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

   <h1>End of Season</h1>

   <!-- {% for table in tables %}
   {{ table|safe }}
   {% endfor %} -->

   <table>
      <thead>
      <tr>
          {% for col in column_names %}
          <th>{{col}}</th>
          {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for row in row_data %}
      <tr>
          {% for col, row_ in zip(column_names, row) %}
          <td>{{row_}}</td>
          {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
  
  </table>

   <!-- put in table here, data was passed in from function from csv -->
{% endblock %}